body{
  margin: 0;
  background: url('../img/drakony.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1, p, h3 {
  margin: 0;
}

h3 {
  margin-top: 20px;
}

nav.top {
  background-color: rgba(224, 43, 85, 0.8);
  height: 70px;
  border-radius: 0 0 50px 50px;
}

nav.bottom {
  background-color: rgba(224, 43, 85, 0.8);
  height: 70px;
  border-radius: 50px 50px 0 0;
}

h1.zag {
  text-align: center;
  font-family: heading;
  font-size: 40px;
  color: #2bb6e0;
}

div.title {
  padding: 120px 0 120px 0;
}

.zag i {
  font-size: 50px;
  color: #642be0;
}

.centerter-u {
  background-color: rgba(224, 43, 85, 0.8);
  height: 5000px;
  width: 70%;
  float: left;
}

.center-a {
  border-radius: 50px;
  box-shadow: inset 5px 5px 5px black, inset -5px -5px 5px black;
  width: 100%;
  height: 100%;
}

aside {
   background-color: rgba(224, 43, 85, 0.8);
   height: 5000px;
   width: 30%;
   float: right;
 }

div.end {
  background-color: rgba(224, 43, 85, 0.8);
  height: 200px;
  width: 100%;
  border-radius: 0 0 50px 50px;
}

div.basis {
  width: 92%;
  min-height: 200px;
  max-height: 1000px;
  border-bottom: 5px solid black;
  margin: 0px 30px 30px 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

div.caption {
  height: 40px;
  border-bottom: 5px solid black;
}

div.caption h1 {
  float: left;
  color: white;
  font-family: title italic;
}

div.caption h3 {
  float: right;
  color: white;
  font-family: title regular;
}

div.story {
  height: 100%;
  width: 100%;
}

div.story p {
  font-family: description regular;
  font-size:  35px;
  color: white;
}

a {
  color: #0b3385;
}

















